/* These styles are created solely for Storybook */
.color-swatches {
  .color-swatch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    label {
      padding-left: 1em;

      &:nth-of-type(2) {
        font-weight: bold;
      }
    }
  }
  .light {
    color: #fff;
  }
  .dark {
    color: #222;
  }
}
