/* These styles are created solely for Storybook */
.color-swatches {
  .color-swatch {
    display: flex;
    align-items: center;
    padding: 5px;

    > div {
      width: 100px;
      height: 50px;
      background-color: var(--background-grey);
      border-radius: 3px;
    }
    label {
      padding-left: 1em;

      &:nth-of-type(2) {
        font-weight: bold;
      }
    }
  }
}
